{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h2 class="display-1 text-center">APP Django</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam itaque reprehenderit odio aperiam, deserunt asperiores voluptate dignissimos nisi obcaecati animi nulla placeat iusto minima doloremque ipsam dolor natus! Neque, tempore. Suscipit cum ex quia illum, illo fugiat officia id in quas veritatis alias eius delectus voluptates cumque non ipsum magnam beatae pariatur tempora incidunt laboriosam error quos molestias explicabo? Officiis aliquid id architecto quidem ipsam quas earum sit molestias aliquam quia, voluptatem adipisci voluptas fuga eveniet maiores, tenetur qui non. Adipisci, error? Adipisci harum eligendi nesciunt consequuntur ducimus iste esse totam corrupti voluptates, sit ea qui officiis temporibus nam quia?</p>
    <div class="text-center">
        <a href="/signin" class="btn btn-secondary">signin</a>
        <a href="/signup/" class="btn btn-secondary">signup</a>
    </div>
    </section>
</main>
{% endblock %}