{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-1">Task Pending</h1>

            <div class="list-group">
                {% for task in tasks %}
                <a href="{% url 'task_detail' task.id %}" class="card list-group-item">
                    <header class="d-flex justify-content-between">
                        {% if task.important %}
                        <h2 class="fw-bold text-success">titulo: {{task.title}}</h2>
                        {% else %}
                        <h1 class="fw-bold">titulo: {{task.title}}</h1>
                        {% endif %}
                        <p>Autor: {{task.user}}</p>
            
                    </header>
                    <p>Descripcion: {{task.description}}</p>
                    <p>{{task.datecompleted|date:'M j Y h:i'}}</p>
            
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

</main>
{% endblock %}